/nodered-data/node_modules
/nodered-data/uibuilder/node_modules
/nodered-data/uibuilder/app/node_modules
/nodered-data/uibuilder/vue-file/node_modules
/nodered-data/uibuilder/navbar/node_modules
/nodered-data/uibuilder/vue-app/node_modules
/nodered-data/flexdash-src
/nodered-data/uibuilder/data 
/nodered-data/models/scripts/core